<a href="https://colab.research.google.com/github/JingzhiZhou/Kiana-Project/blob/main/test_block.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
aug = pd.read_csv("/content/gdrive/MyDrive/3 x Zones Group Assignment/Present1_data/rio_aug.csv")

In [ ]:
aug

In [ ]:
aug.head()

  Building    Level                MAC  ...        LNG          Time        Date
0     TPS1  Level 2  a4:ee:57:bf:c5:86  ... -43.249902  02:52:33.289  2019-08-01
1     TPS1  Level 2  3c:a8:2a:78:83:94  ... -43.250474  02:52:35.488  2019-08-01
2     TPS1  Level 2  f8:62:14:32:35:38  ... -43.251573  02:52:36.268  2019-08-01
3     TPS1  Level 2  28:80:23:32:16:16  ... -43.249719  02:52:41.537  2019-08-01
4     TPS1  Level 2  28:80:23:32:16:12  ... -43.249737  02:52:41.538  2019-08-01

[5 rows x 7 columns]

In [ ]:
COL_NUM = 3 
ROW_NUM = 3 

def split_block(r,c,df):
    
    df['LAT'] = -df['LAT']
    df['LNG'] = -df['LNG']
    
    LATI = df.iloc[:,3].max() - df.iloc[:,3].min()
    LONG = df.iloc[:,4].max() - df.iloc[:,4].min()
    
    LAT_BIN = [22.811135]  
    LON_BIN = [43.249159]  
    
    names = ["block1"]
    
    for i in range(1,c): #latitude bin
        LAT_BIN.append(df.iloc[:,3].min()+i*(LATI/COL_NUM)) 
        names.append("block"+str(i+1))
        
    for i in range(1,r): #longtitude bin
        LON_BIN.append(df.iloc[:,4].min()+i*(LONG/ROW_NUM)) 
        
    LAT_BIN.append(df.iloc[:,3].max())
    LON_BIN.append(df.iloc[:,4].max())
    LAT_BIN.sort()
    LON_BIN.sort()

    df['temp_block'] = pd.cut(df['LAT'],LAT_BIN , labels=names)
    
    count = 0
    df_list = []
    for i in range(r):
        names = []
        df_list.append('df'+str(i))
        for n in range(r):
            count += 1
            names.append("block"+str(count))
        df_list[i] = aug.loc[aug['temp_block']=="block"+str(i+1)]
        df_list[i]['block'] = pd.cut(aug.loc[aug['temp_block'] == "block"+str(i+1)]['LNG'],LON_BIN, labels=names)
    df = pd.concat(df_list).drop(columns=['temp_block'])
    df['LAT'] = -df['LAT']
    df['LNG'] = -df['LNG']
    return df

In [ ]:
aug = split_block(3,3,aug)  # can change 3 to desired number

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
aug.head()

    Building    Level                MAC  ...          Time        Date   block
49      TPS1  Level 2  da:a1:19:1d:ae:7e  ...  02:57:09.296  2019-08-01  block1
306     TPS1  Level 2  3a:3a:fa:e6:81:98  ...  03:20:40.103  2019-08-01  block1
307     TPS1  Level 2  3a:3a:fa:e6:81:98  ...  03:20:40.103  2019-08-01  block1
310     TPS1  Level 2  38:9a:f6:32:67:cd  ...  03:20:40.391  2019-08-01  block1
311     TPS1  Level 2  38:9a:f6:32:67:cd  ...  03:20:40.391  2019-08-01  block1

[5 rows x 8 columns]

In [ ]:
aug['block'].value_counts()

block5    1994713
block6    1058149
block4     615800
block8     383361
block1     344017
block2     212292
block9     181290
block7      17625
block3         15
Name: block, dtype: int64

In [ ]:
block1 = aug.loc[aug['block'] == "block1"]
block1

        Building    Level                MAC  ...          Time        Date   block
49          TPS1  Level 2  da:a1:19:1d:ae:7e  ...  02:57:09.296  2019-08-01  block1
306         TPS1  Level 2  3a:3a:fa:e6:81:98  ...  03:20:40.103  2019-08-01  block1
307         TPS1  Level 2  3a:3a:fa:e6:81:98  ...  03:20:40.103  2019-08-01  block1
310         TPS1  Level 2  38:9a:f6:32:67:cd  ...  03:20:40.391  2019-08-01  block1
311         TPS1  Level 2  38:9a:f6:32:67:cd  ...  03:20:40.391  2019-08-01  block1
...          ...      ...                ...  ...           ...         ...     ...
4807201     TPS1  Level 2  a4:ee:57:bf:c5:86  ...  23:58:31.074  2019-08-31  block1
4807213     TPS1  Level 2  a4:ee:57:bf:c5:86  ...   23:58:40.24  2019-08-31  block1
4807219     TPS1  Level 2  60:1d:91:d8:d2:80  ...  23:58:46.305  2019-08-31  block1
4807243     TPS1  Level 2  48:49:c7:52:9d:70  ...  23:59:06.138  2019-08-31  block1
4807260     TPS1  Level 2  48:49:c7:52:9d:70  ...  23:59:16.145  2019-08-31  block1

[344017 rows x 8 columns]

In [ ]:
block1.min()['LAT']

-22.811573600449552