<a href="https://colab.research.google.com/github/JingzhiZhou/Kiana-Project/blob/main/zhou_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/3 x Zones Group Assignment/csv_remove device data/tps1_2_block89.csv")
df

        Building    Level                MAC  ...          Time        Date   block
0           TPS1  Level 2  48:49:c7:12:a4:00  ...  00:00:30.477  2019-08-12  block3
1           TPS1  Level 2  c0:8c:71:2c:79:f9  ...  00:00:31.272  2019-08-12  block3
2           TPS1  Level 2  60:1d:91:04:cf:56  ...  00:00:32.489  2019-08-12  block3
3           TPS1  Level 2  48:49:c7:12:a4:00  ...  00:00:40.493  2019-08-12  block3
4           TPS1  Level 2  c0:8c:71:2c:79:f9  ...  00:00:41.285  2019-08-12  block3
...          ...      ...                ...  ...           ...         ...     ...
1362866     TPS1  Level 2  dc:35:f1:be:1c:a3  ...  23:59:56.141  2019-09-08  block3
1362867     TPS1  Level 2  e0:37:bf:da:68:b0  ...  23:59:56.333  2019-09-08  block3
1362868     TPS1  Level 2  e0:37:bf:da:68:b0  ...  23:59:56.334  2019-09-08  block3
1362869     TPS1  Level 2  38:9a:f6:55:65:93  ...  23:59:56.339  2019-09-08  block3
1362870     TPS1  Level 2  38:9a:f6:55:65:93  ...   23:59:56.34  2019-09-08  block3

[1362871 rows x 8 columns]

In [ ]:
df['hour'] = df.Time.astype(str).str[:2]
df['hour'] = df['hour'].map({'00': "1", '01': "2",'02': "3",'03': "4",'04': "5",'05': "6", '06': "7", '07': "8",'08': "9",'09': "10",'10': "11",'11': "12",'12': "13", 
                             '13': "14",'14': "15",'15': "16",'16': "17",'17': "18",'18': "19",'19': "20",'20': "21",'21': "22",'22': "23","23": "24"})
df['weekday'] =  df.Date.astype(str).str[-2:]
df['weekday'] =  df['weekday'].replace(['12','13','14','15','16','19','20','21','22','23','26','27','28','29','30','02','03','04','05','06'],'1')
df['weekday'] =  df['weekday'].replace(['17','18','24','25','31','01','07','08'],'0')
df

        Building    Level                MAC  ...   block  hour weekday
0           TPS1  Level 2  48:49:c7:12:a4:00  ...  block3     1       1
1           TPS1  Level 2  c0:8c:71:2c:79:f9  ...  block3     1       1
2           TPS1  Level 2  60:1d:91:04:cf:56  ...  block3     1       1
3           TPS1  Level 2  48:49:c7:12:a4:00  ...  block3     1       1
4           TPS1  Level 2  c0:8c:71:2c:79:f9  ...  block3     1       1
...          ...      ...                ...  ...     ...   ...     ...
1362866     TPS1  Level 2  dc:35:f1:be:1c:a3  ...  block3    24       0
1362867     TPS1  Level 2  e0:37:bf:da:68:b0  ...  block3    24       0
1362868     TPS1  Level 2  e0:37:bf:da:68:b0  ...  block3    24       0
1362869     TPS1  Level 2  38:9a:f6:55:65:93  ...  block3    24       0
1362870     TPS1  Level 2  38:9a:f6:55:65:93  ...  block3    24       0

[1362871 rows x 10 columns]

In [ ]:
df.hour.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '22', '23', '24', '19', '20',
       '21'], dtype=object)

In [ ]:
df.weekday.unique()

array(['1', '0'], dtype=object)